@import "_header.less";
@import "_home.less";
@import "./home/_themes-and.extencions.less";
@import "./home/_one-minute-installation.less";
@import "./home/_google-Analytics-4";
@import "./home/_bg-overflowauto.less";
@import "_footer.less";


//
//  Variables
//  _____________________________________________

@color-primario: #073756;
@color-oscuro:  #000;
@color-claro: #f9f9f9;
@color-titulo: #fff;
@color-texto: #cccccc;
@fuente1: 'Open Sans',sans-serif;
@fuente2: 'Montserrat', sans-serif;
@fuente-buton: 'Raleway',sans-serif;
@background-gay: #fafafa;

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//
//  Common
//  _____________________________________________

//& when (@media-common = true) {

//     body{
//         // background-color: #090090!important;
//     }


// }
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
 
}

//
//  Deskto
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  
}
