//
//  Variables
//  _____________________________________________
@color-primario: #073756;
@color-titulo: #fff;
@fuente1: 'Open Sans', sans-serif;
@fuente2: 'Montserrat', sans-serif;

//
//  Common
//  _____________________________________________
& when (@media-common = true) {


    .block-minicart {
        .items-update {
            &-container {
                display: none;
            }
        }
    }

    //ESTILOS MODALES DEL MINICART AGSOFWARE
    ._has-modal {

        .modals-wrapper {

            .modal-popup.confirm {

                .modal-inner-wrap {
                    width: 75%;
                    margin: 5rem auto;
                    background: @color-titulo;

                    .modal-header {

                        .action-close {
                            top: 0;
                            right: 0;
                            &:before {
                                font-size: 14px;
                                line-height: 14px;
                                color: #757575;
                            }
                        }

                        .modal-title {
                            display: block;
                            font-family: @fuente1;
                            font-size: 40px;
                            font-weight: 400;
                            line-height: 1.2;
                            letter-spacing: 2px;
                            font-style: inherit;
                            text-transform: none;
                            color: @color-primario;
                        }

                    }

                    .modal-content {
                        width: 100%;
                        margin: 0;
                        letter-spacing: 0.5px;
                    }

                    .modal-footer {
                        display: block;

                        button {
                            font-family: @fuente2;
                            font-weight: 400;
                            line-height: 3rem;
                            text-transform: uppercase;
                            transition-duration: .3s;
                            transition-property: background-color;
                            border-radius: 0px;
                            border: @color-primario 1px solid;
                            cursor: pointer;
                        }

                        .action-dismiss {
                            padding: 10px 15px;
                            color: @color-primario;
                            background-color: @color-titulo;

                            &:hover {
                                color: @color-titulo;
                                background-color: @color-primario;
                            }
                        }

                        .action-accept {
                            padding: 7px 15px;
                            color: @color-titulo;
                            background-color: @color-primario;
                        }

                    }

                }

            }

        }

    }

}
